body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /* text-align: center; */
}

.top3 { margin-top:3px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.active-row:hover { cursor: pointer; text-decoration: underline; }

#payments-table th { text-align: center; }
#payments-table td { vertical-align: middle; }