<div class="panel-body">

    <div class="row">

        <div class="col-md-6">
            <div class="input-group" ng-form="paymentForm">
                <span class="input-group-addon">€</span>

                <input type="text"
                       class="form-control"
                       aria-label="Amount (to the nearest dollar)"
                       placeholder="0.00"
                       ng-model="payment.sum"
                       required
                       double
                       min="0"
                >

				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="savePayment()" ng-disabled="!valid">Add</button>
				</span>
            </div>
        </div>

    </div>

</div>