<table class="table table-bordered table-condensed text-center">
    <thead>
		<tr>
			<th class="text-center">Date</th>
			<th class="text-center">Summary</th>
			<th class="text-center">Expenses</th>
			<th class="text-center">Rest</th>
			<th class="text-center">Balance</th>
			<th class="text-center">Daily balance</th>
			<th class="text-center">Expectations</th>
		</tr>
    </thead>

    <tbody>
		<tr class="active-row"
			ng-class="compareDates(item.date)"
			ng-repeat="item in summary.schedule"
			ng-click="openPaymentsModal(item.date)"
		>
			<td>{{item.date|date:'dd.MM.yyyy.'}}</td>
			<td>{{item.sum|currency:'€':2}}</td>
			<td>{{item.spent|currency:'€':2}}</td>
			<td>{{item.residual|currency:'€':2}}</td>
			<td>{{item.balance|currency:'€':2}}</td>
			<td>{{item.dailyBalance|currency:'€':2}}</td>
			<td>{{item.prediction|currency:'€':2}}</td>
		</tr>
    </tbody>
</table>
