<div class="row" us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner">
	<div class="col-md-8">
		<!-- Input panel -->
		<div class="panel panel-default" ng-include="'app/money/view/daily/templates/daily.inputs.html'"></div>

		<!-- Table -->
		<div class="panel panel-primary" ng-include="'app/money/view/daily/templates/daily.table.html'"></div>
	</div>

	<div class="col-md-4">
		<!-- Interval panel -->
		<div class="panel panel-info" ng-include="'app/money/view/daily/templates/daily.interval.html'"></div>

		<!-- Statistics panel -->
		<div class="panel panel-info" ng-include="'app/money/view/daily/templates/daily.statistics.html'"></div>

		<!-- Graph panel -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<strong>Graph</strong>
			</div>

			<div class="panel-body">
				<img src="screenshot.37.png"></img>
			</div>
		</div>
	</div>
</div>