<div class="panel-heading" ng-show="showIntervalsTable">
    <strong>{{summary.interval.name}}</strong>
</div>
<div class="panel-body">
    <div class="input-group">
		<div class="btn-group" role="group" aria-label="Interval operations">
			<button class="btn btn-default" 
					ng-click="openIntervalModal(false)" 
					ng-disabled="summary.interval && !summary.interval.latest">
				{{'START_NEW_INTERVAL'|translate}}
			</button>
			
			<button class="btn btn-default" 
					ng-click="openIntervalModal(true)"
					ng-disabled="summary.interval && !summary.interval.latest"
					ng-if="!noIntervalsYet"
			>
				{{'EDIT_CURRENT_INTERVAL'|translate}}
			</button>
		</div>
    </div>
</div>