<div class="panel-heading">
    <strong>{{'STATISTICS'|translate}}</strong>
</div>
<table class="table table-condensed">
    <tr>
        <td>{{'NUMBER_OF_DAYS'|translate}}:</td>
        <td colspan="2">{{summary.totals.days}}</td>
    </tr>
    <tr>
        <td>{{'CURRENT_DAY'|translate}}:</td>
        <td>{{summary.totals.currentDay}}</td>
        <td>{{summary.totals.currentDayPercents * 100|number:0}}%</td>
    </tr>
    <tr>
        <td>{{'STARTING_CAPITAL'|translate}}:</td>
        <td colspan="2">{{summary.totals.startingSum|currency:'€':2}}</td>
    </tr>
    <tr>
        <td>{{'EXPENSES'|translate}}:</td>
        <td>{{summary.totals.expenses|currency:'€':2}}</td>
        <td>{{summary.totals.expensesPercent * 100|number:0}}%</td>
    </tr>
    <tr>
        <td>{{'AVERAGE_INCOMES'|translate}}:</td>
        <td colspan="2">{{summary.totals.incomesAvg|currency:'€':2}}</td>
    </tr>
    <tr>
        <td>{{'AVERAGE_EXPENSES'|translate}}:</td>
        <td colspan="2">{{summary.totals.expensesAvg|currency:'€':2}}</td>
    </tr>
    <tr>
        <td>{{'BALANCE'|translate}}:</td>
        <td>{{summary.totals.residual|currency:'€':2}}</td>
        <td>{{summary.totals.residualPercents * 100|number:0}}%</td>
    </tr>
    <tr>
        <td>{{'EXPECTED_BALLANCE'|translate}}:</td>
        <td>{{summary.totals.expectedResidual|currency:'€':2}}</td>
        <td>{{summary.totals.expectedResidualPercents * 100|number:0}}%</td>
    </tr>
</table>