<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-body">
            {{"EMAIL_INFO"|translate}}
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" ng-class="{ 'has-error': propsForm.email.$invalid, 'has-success': propsForm.email.$touched }">
                <label for="email">{{'EMAIL'|translate}}:</label>
                <input id="email" name="email" class="form-control" type="text" ng-model="properties.email" required ng-disabled="ctrlDisabled" />
            </div>
        </div>
    </div>
</div>