<div class="col-md-3">

    <div class="panel panel-info">
        <div class="panel-body">
            {{'PASSWORD_INFO'|translate}}
        </div>
    </div>

</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="password">{{'PASSWORD'|translate}}:</label>
                <input id="password" class="form-control" type="text" value="{{user.password.primary}}" ng-disabled="ctrlDisabled" >
            </div>

            <div class="form-group">
                <label for="confirm">{{'CONFIRM_PASSWORD'|translate}}:</label>
                <input id="confirm" class="form-control" type="text" value="{{user.password.confirm}}" ng-disabled="ctrlDisabled">
            </div>
        </div>
    </div>
</div>