<div class="col-md-3">

    <div class="panel panel-info">
        <div class="panel-body">
            {{'PASSWORD_INFO'|translate}}
        </div>
    </div>

</div>

<div class="col-md-9">
    <div class="panel panel-default" ng-class="{
         'panel-default': !propsForm.primaryPass.$invalid && !propsForm.primaryPass.$dirty,
         'panel-danger': propsForm.primaryPass.$invalid,
         'panel-primary': propsForm.primaryPass.$dirty }">

        <div class="panel-body">
            <div class="alert alert-danger" ng-show="incorrectPassword">
                {{"INCORRECT_PASSWORD"|translate}}
            </div>

            <div class="form-group">
                <label for="current_pass">{{'CURRENT_PASSWORD'|translate}}:</label>

                <input id="current_pass"
                       name="password"
                       class="form-control"
                       ng-class="{
                       'panel-primary': propsForm.password.$dirty && !incorrectPassword,
                       'panel-danger': incorrectPassword
                       }"
                       type="password"
                       ng-model="properties.password.current"
                       ng-disabled="ctrlDisabled"
                >

            </div>

            <div class="form-group">
                <label for="pass1">
                    {{'NEW_PASSWORD'|translate}}:

                    <span class="label"
                          ng-class="{ 'label-success': pass.lengthOk, 'label-danger': !pass.lengthOk }"
                          ng-show="pass.changing">L &gt; 7</span>

                    <span class="label"
                          ng-class="{ 'label-success': pass.uppercaseOk, 'label-danger': !pass.uppercaseOk }"
                          ng-show="pass.changing">A-Z</span>

                    <span class="label"
                          ng-class="{ 'label-success': pass.numberOk, 'label-danger': !pass.numberOk }"
                          ng-show="pass.changing">0-9</span>

                    <span class="label"
                          ng-class="{ 'label-success': pass.matchOk, 'label-danger': !pass.matchOk }"
                          ng-show="pass.changing">==</span>
                </label>

                <input id="pass1"
                       name="primaryPass"
                       class="form-control"
                       type="password"
                       ng-model="properties.password.primary"
                       ng-disabled="ctrlDisabled" >
            </div>

            <div class="form-group">
                <label for="pass2">{{'CONFIRM_PASSWORD'|translate}}:</label>

                <input id="pass2"
                       class="form-control"
                       type="password"
                       ng-model="properties.password.confirm"
                       ng-disabled="ctrlDisabled">
            </div>
        </div>
    </div>
</div>