<div class="col-md-3">

    <div class="panel panel-info">
        <div class="panel-body">
            {{"TIMEZONE_INFO"|translate}}
        </div>
    </div>

</div>

<div class="col-md-9">
    <div class="panel" ng-class="{ 'panel-default': !timezoneChanged, 'panel-primary': timezoneChanged }">
        <div class="panel-body">

            <div class="form-group">
                <label for="timezone">{{'SELECT_TIMEZONE'|translate}}:</label>
                <div id="timezone" name="timezone" uib-dropdown is-open="status.isopen" dropdown-append-to-body>

                    <button type="button"
                            class="btn btn-default"
                            uib-dropdown-toggle
                            ng-disabled="disabled || ctrlDisabled">
                        {{properties.timezone.label}} <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="timezone in timezones">
                            <a href="" ng-click="selectTimezone(timezone)">{{timezone.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>