<div class="row">
	<div class="col-md-12">
		<div class="well well-sm">
			<h4>{{"PROPERTIES_OF"|translate}} {{properties.login}}.</h4>
		</div>
		
		<form name="propsForm">
			<div class="row" ng-include="'app/money/view/properties/email.block.html'"></div>
			
			<div class="row" ng-include="'app/money/view/properties/password.block.html'"></div>

			<div class="row" ng-include="'app/money/view/properties/timezone.block.html'"></div>

			<div class="row" ng-include="'app/money/view/properties/controls.block.html'"></div>
		</form>
	</div>
</div>