
<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
	{{current.label}}<span class="caret"></span>
</a>

<!-- <img src="ico/{{current.flag}}" height="24px"> -->

<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
	<li ng-repeat="(key, lang) in languages">
		<a role="button" ng-click="switchLanguage(key)">
			<img src="ico/{{lang.flag}}" height="24px"> {{lang.label}}
		</a>
	</li>
</ul>