<div class="modal-header">
	<button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Create new interval!</h3>
</div>

<div class="modal-body">
	<div class = "container">
		<div class = "row">

			<!-- Datepicker From -->

			<div class = "col-md-3">
				<div class="input-group">
					<span class="input-group-addon">From</span>

					<input  type="text"
							class="form-control"
							aria-label="From"
							placeholder="dd.mm.yyyy."
							ng-required="true"
							uib-datepicker-popup="dd.MM.yyyy."
							datepicker-options="dateOptions"
							close-text="Close"
							ng-model="from"
							is-open="datepickerFrom.show"
							ng-disabled="controlsDisabled"
					>

					<span class="input-group-btn">
						<button	class="btn btn-default"
								type="button"
								ng-click="datepickerFrom.open()"
								ng-disabled="controlsDisabled">

							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>

			<!-- Datepicker Till -->

			<div class = "col-md-3">
				<div class="input-group">
					<span class="input-group-addon">Till</span>

					<input type="text"
						   class="form-control"
						   aria-label="Till"
						   placeholder="dd.mm.yyyy."
						   ng-required="true"
						   uib-datepicker-popup="dd.MM.yyyy."
						   datepicker-options="dateOptions"
						   close-text="Close"
						   ng-model="till"
						   is-open="datepickerTill.show"
						   ng-disabled="controlsDisabled"
					>

					<span class="input-group-btn">
						<button
								class="btn btn-default"
								type="button"
								ng-click="datepickerTill.open()"
								ng-disabled="controlsDisabled">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<div class = "row top15">
			<div class = "col-md-6">
				<div class="input-group">
					<span class="input-group-addon">Initial total</span>
					<input type="text" class="form-control" aria-label="Till" placeholder="100.00€" value="" ng-disabled="controlsDisabled">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="controlsDisabled">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>