<!DOCTYPE html>
<html lang="en" ng-app="MoneySaverAppLogin" ng-controller="login-ctrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>
        Money Saver v.{{version}}
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- Custom -->
    <link rel="stylesheet" href="styles/starter-template.css">

    <!-- app.min.js is compressed version of Money Saver Angular.js application. -->
    <!-- build:js app/app.min.js -->
    <script src="libs/moment.js" type="application/javascript"></script>
    <script src="libs/spin.js" type="text/javascript"></script>

    <!-- AngularJS -->
    <script src="libs/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route.js" type="text/javascript"></script>
    <script src="libs/angular-resource.js" type="text/javascript"></script>
    <script src="libs/angular-cookies.js" type="text/javascript"></script>
    <script src="libs/angular-spinner.js" type="text/javascript"></script>
    <script src="libs/ui-bootstrap-tpls-1.2.2.js" type="text/javascript"></script>

    <script src="app/login/login-app.js" type="text/javascript"></script>
    <script src="app/login/login-ctrl.js" type="text/javascript"></script>
    <script src="app/login/login-service.js" type="text/javascript"></script>
</head>

<body class="container starter-template">
    <div class="page-header">
        <h1>
            All hail to MoneySaver 3000.
            <small>
                Application where you can successfully lost all of your dreams.
            </small>
        </h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Proceed or die.
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="login" class="col-sm-2 control-label">Login:</label>
                    <div class="col-sm-10">
                        <input type="login"
                               class="form-control"
                               id="login"
                               placeholder="login"
                               ng-model="login">
                    </div>

                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="password"
                               ng-model="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default"
                                type="submit"
                                ng-click="performLogin()"
                                ng-disabled="emptyCredentials()">
                            Submit
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="alert alert-danger" ng-show="showLoginFailed">
        <strong>Login failed:</strong> No such user or password!
    </div>

    <div class="alert alert-warning" ng-show="showLoginRequierd">
        <strong>Login required:</strong> Please, enter your login and password before proceed!
    </div>

    <div class="alert alert-info" ng-show="showLogoutSuccess">
        Thank you for using our application!
    </div>
</body>

</html>
